<?xml version="1.0"?>
<launch>

  <node name="wsg_50_driver"  pkg="wsg_50_driver" type="wsg_50_ip" output="screen">
    <param name="ip" type="string" value="192.168.100.166"/>
    <param name="port" type="int" value="1000"/>
    <param name="com_mode" type="string" value="script"/>
    <param name="rate" type="double" value="2"/>
    <param name="grasping_force" type="double" value="20"/>
    <param name="protocol" type="string" value="tcp"/>
  </node>

</launch>

