<launch>
  <node pkg="iai_kms_40_driver" type="kms40_node" name="kms40" output="screen">
    <param name="ip" value="192.168.100.175" type="string"/>
    <param name="port" value="1000" type="string"/>
    <param name="tcp_timeout" value="0.5" type="double"/>
    <param name="publish_rate" value="50" type="int"/>
    <param name="frame_divider" value="10" type="int"/>
    <param name="frame_id" value="right_kms40_link" type="string"/>
  </node>
</launch>
